paper-toolbar.settings { background: #fff; bottom: -200px; color: #666; margin: 0 0 0 -10px; position: fixed; transition: bottom 0.5s; -webkit-transition: bottom 0.5s; width: 100%; z-index: 99; }
:host.shown paper-toolbar.settings { bottom: 0; }

.shade { background: #000; display: none; height: 100%; margin: 0 0 0 -10px; opacity: 0.5; position: fixed; top: 0; width: 100%; z-index: 98; }
:host.shown .shade { display: block; };

.form { height: 115px; margin: 10px 0; overflow: auto; position: relative; top: 35px; width: 100%; }
.form paper-input { float: left; margin: 0 5px; width: calc(50% - 10px); }

.buttons { text-align: right; width: 100%; }
.buttons paper-button p { display: inline; position: relative; top: 2px; }
.buttons paper-icon-button { display: none; }
.buttons paper-button.primary { background: #3f51b5; color: #fff; }
.buttons paper-icon-button.primary { color: #3f51b5; }

@media (max-width: 767px) {
	.form { height: 100px; top: 32px; }
	.form paper-input { margin: 0; width: 100%; }
	.buttons paper-button { display: none; }
	.buttons paper-icon-button { display: inline-block; }
}